.footer {
  max-width: 1440px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 106px 0 104px;
}

.footer__copyright {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
  margin: 32px 0 26px 0;
  padding: 0;
}

.footer__links {
  display: flex;
  justify-content: space-between;
}

.footer__nav {
  margin: 30px 42px 28px 0;
  width: 304px;
}

.footer__nav-links {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__nav-link {
  min-height: 22px;
  text-decoration: none;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
  margin: 0;
  padding: 0;
  transition: opacity 0.3s linear;
}

.footer__nav-link:hover {
  opacity: .7;
}

.footer__social-icons-links {
  margin: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

.footer__social-icons-link {
  text-decoration: none;
  margin-right: 26px;
}

.footer__social-icons-link:last-of-type {
  margin-right: 0;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s linear;
}

.footer__social-icon:hover {
  opacity: .7;
}

@media screen and (max-width: 930px) {
  .footer {
    max-width: 768px;
    padding: 0 40px 0 40px;
  }

  .footer__copyright {
    margin: 24px 0 18px 0;
  }

  .footer__nav {
    margin: 21px 26px 21px 0;
    width: 264px;
  }

  .footer__social-icons-links {
    margin: 22px 0 22px 0;
  }

  .footer__social-icons-link {
    margin-right: 25px;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    max-width: 320px;
    flex-direction: column-reverse;
    padding: 0 16px 0 16px;
  }

  .footer__copyright {
    margin: 40px 0 22px 0;
  }

  .footer__nav {
    margin: 20px 18px 40px 0;
    width: 200px;
  }

  .footer__nav-links {
    flex-direction: column;
  }

  .footer__nav-link {
    min-height: 72px;
    line-height: 48px;
  }

  .footer__social-icons-links {
    margin: 20px 0 88px 0;
  }

  .footer__social-icons-link {
    margin-right: 26px;
  }

  .footer__social-icon {
    width: 20px;
    height: 20px;
  }
}
